{
  "printWidth": 120,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
